#homeLine{
    box-sizing: inherit;
    font-size: 6.5rem;
    font-weight: 400;
    font-family: 'Damion',handwriting;
    line-height: 1;
    text-transform: none;
    
    line-height: 1;
}
#home-front{
    background-image: url("/img/bg/front-bg2.jpg") ;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
}
@media only screen and (max-width: 360px) {
    #home-front {
        background-image: url("/img/bg/bg-mobview.jpg");
    }
}
#logo {
    max-width: 30%;
    height: auto;
  }

#aboutBg{
    max-width: 100%;
  width: 500px; 
}

.bg-navydark {
    background-color: #000716;
}

